/* Estilos gerais de modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Conteúdo do modal */
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
  }
  
  /* Animação de fade-in para o modal */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Fechar (ícone "x") */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
  }
  
  .close:hover {
    color: black;
  }
  
  /* Título do Modal */
  .modal-content h2 {
    font-size: 24px;
    color: #00b0ff; /* Azul claro */
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Estilos para os campos de entrada */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  /* Estilo do botão Apagar */
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #f44336;  /* Vermelho */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 20%; /* Botão ocupa metade da largura */
    margin-right: 4%;
  }
  
  button[type="submit"]:hover {
    background-color: #e53935; /* Escurece um pouco ao passar o mouse */
  }
  
  /* Estilo do botão Cancelar */
  .cancel-btn {
    padding: 10px 20px;
    background-color: #9e9e9e; /* Cinza */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 20%; /* Botão ocupa metade da largura */
  }
  
  .cancel-btn:hover {
    background-color: #757575; /* Escurece um pouco ao passar o mouse */
  }
  
  /* Organiza os botões (Apagar e Cancelar) ao lado um do outro */
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  