/* Modal geral */
.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  /* Organiza os botões ao lado um do outro */
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;  /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 48%; /* Botão ocupa metade da largura */
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Escurece ao passar o mouse */
  }
  
  .cancel-btn {
    padding: 10px 20px;
    background-color: #9e9e9e; /* Cinza */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 48%; /* Botão ocupa metade da largura */
  }
  
  .cancel-btn:hover {
    background-color: #757575; /* Escurece ao passar o mouse */
  }
  